<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.exobrain.mist-console-autocommit</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/alexhedtke/Documents/mist-console/autocommit.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/alexhedtke/Documents/mist-console</string>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/alexhedtke/Documents/mist-console/autocommit.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/alexhedtke/Documents/mist-console/autocommit.log</string>
</dict>
</plist>
